body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #051014;
}
.hidden {
    display: none;
}
.description-container {
    position: relative;
}
.info-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.description-container:hover .info-icon {
    opacity: 0;
}
.description {
    opacity: 0;
    margin-top: 10px;
    transition: opacity 0.5s ease;
}
.description.active {
    opacity: 1;
}
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    position: relative; /* Additional styles */
}
.navigation {
    background-color: #231123;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.navigation h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.navigation button {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    order: 1;
}
.navigation select {
    margin-top: auto;
    order: 2;
}
.navigation button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.predefined {
    display: none;
    position: relative;
    top: 0;
    left: 100px;
    width: calc(100% - 200px);
    right: 0;
    bottom: 0;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
.predefined .strategy {
    flex: 50px;
    background-color: #333;
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 30px;
    position: relative;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.predefined .strategy:hover {
    cursor: pointer;
}
.predefined .strategy.active .activate-button {
    background-color: #221122;
    color: white;
}
.predefined .strategy .front,
.predefined .strategy .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}
.predefined .strategy .front {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.predefined .strategy .back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.predefined .strategy .activate-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.predefined .strategy .activate-button:hover {
    background-color: #221122;
}
.dashboard {
    display: none; /* Additional styles */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the chart horizontally */
}
.dashboard table {
    margin-top: 50px;
    margin-left: 140px;
    width: 70%;
    border-collapse: separate;
}
.dashboard th, .dashboard td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}
.dashboard th {
    background-color: #221122;
    color: white;
}
.custom-indicators {
    display: none;
    padding: 20px;
    background-color: #051014;
    color: #fff;
}
.custom-indicators input {
    margin-bottom: 10px;
    padding: 5px;
}
#fibonacciResult {
    color: white;
    margin-top: 10px;
}

.indicator-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.indicator-box h3 {
    margin-top: 0;
}

.indicator-box label {
    display: block;
    margin-bottom: 5px;
}

.indicator-box input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.indicator-box button {
    width: 100%;
    padding: 10px 20px;
    background-color: #231123;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.indicator-box button:hover {
    background-color: #2a1e34;
}

.result {
    margin-top: 10px;
    padding: 30px;
    background-color: #0c0d0e;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px; /* Adjust based on your preference */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.indicator-box {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.selector label, .selector select {
    display: block;
    margin-bottom: 10px;
}
.mainselect {
    justify-content: center;
    display: flex;
    align-items: center;
}